* {
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
 background-image: url("amazon_logo.png");
 background-size: cover;
 height:50px;
 width:100%;

}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}
.add-second{
    font-size:1rem;
    margin-left:3px;
}
.add-icon{
    display:flex;
    align-items:center;
}
.nav-search{
    display:flex;
    background-color: black;
    width:620px;
    height:40px;
    border: 2px solid transparent;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    color:#0f1111;
}
.nav-search:hover{
    border:2px solid orange;
}
span{
    font-size:0.7rem;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}
.nav-cart i{
font-size:30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    margin-left:20px;
}